@import '../../styles/theme.scss';

.HeaderFilters {
}

.Container {
  display: flex;
  align-items: center;
  justify-content: center;
  color: $white;
}

.InputSearch {
  height: 45px;
  margin: 5px;

  input {
    background: $background-color;
    color: $primary-color;
    border: none;
    padding-left: 40px !important;

    &::placeholder {
      color: $primary-color;
    }

    &:focus {
      outline: none;
    }
  }

  .IconSearch {
    color: $primary-color;
  }
}

.ButtonSearch {
  margin-left: 10px;
  height: 45px !important;
}

.Divider {
  background-color: $white;
  width: 1px;
  height: 100%;
  opacity: 0.2;
  margin: 0 20px;
}

.SelectContainer :global{
  display: flex;
  align-items: center;

  .iconDown {
    margin-left: 5px;
  }
}
